<div class="box-principal">
  <div class="box">
    <div class="box-linha titulo-principal-modal">
      login
    </div>

    <form [formGroup]="loginForm" class="box-linha">
      <mat-form-field appearance="outline" class="campos">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" matInput placeholder="pat@example.com" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="campos">
        <mat-label>Enter your password</mat-label>
        <input [(ngModel)]="senha" formControlName="senha" matInput [type]="hide ? 'password' : 'text'">
        <button class="botao-icone " matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div class="box-linha">
      <button (click)="entrar()" class="botao-principal" [disabled]="loginForm.invalid">
        ENTRAR
      </button>
      <button (click)="criarNovoUsuario()" class="botao-sencudario" [disabled]="loginForm.invalid">
        CRIAR CONTA
      </button>
    </div>
  </div>
</div>


