<div class="box">
  <div class="box-botao">
    <button *ngIf="getRole()" style="margin-right: 0.25rem;" (click)="criarVotacao()" class="botao-principal" mat-raised-button>NOVA VOTAÇÃO</button>
    <button (click)="sair()" class="botao-principal" mat-raised-button>SAIR</button>
  </div>
  <div class="box-abas">
    <mat-tab-group>
      <mat-tab label="VOTAÇÕES ABERTAS">
        <app-votacao-aberta></app-votacao-aberta>
      </mat-tab>
      <mat-tab label="VOTAÇÕES ENCERRADAS"></mat-tab>
      <mat-tab *ngIf="getRole()" label="VOTAÇÕES CRIAR POR VOCÊ"></mat-tab>
    </mat-tab-group>
  </div>

</div>

