.box {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  .box-botao {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
