<div class="box-linha titulo-principal-modal">
  {{data.editar ? 'EDITAR VALOR' : 'ADICIONAR VALOR'}}
  <button  class="botao-icone">
    <mat-icon (click)="fechar(false)">cancel</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<form [formGroup]="data?.novoValorForm" class="box-linha"
  [ngStyle]="{'justify-content': data.tipo ? 'flex-start' : 'space-between' }">
  <div class="box-coluna">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="data?.novoValorForm?.value.nome" formControlName="nome" matInput>
    </mat-form-field>
  </div>
  <div class="box-coluna">
    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input [(ngModel)]="data?.novoValorForm?.value.valor" formControlName="valor" matInput currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
    </mat-form-field>
  </div>
  <div class="box-coluna" *ngIf="!data.tipo">
    <mat-radio-group class="box-coluna" formControlName="pago" [(ngModel)]="data?.novoValorForm?.value.pago">
      <mat-radio-button [value]="true">Pago</mat-radio-button>
      <mat-radio-button [value]='false'>Pagar</mat-radio-button>
    </mat-radio-group>
  </div>
</form>
<mat-divider></mat-divider>
<div class="box-linha">
  <div class="box-botoes">
    <button (click)="fechar(false)"  class="botao-sencudario">
      CANCELAR
    </button>
    <button (click)="fechar(true)" [disabled]="data.novoValorForm.invalid" class="botao-principal">
      {{data.editar ? 'EDITAR' : 'ADICIONAR'}}
    </button>
  </div>
</div>
