<div class="box-linha titulo-principal-modal">
  {{data.editar ? 'EDITAR VOTAÇÃO' : 'ADICIONAR VOTAÇÃO'}}
  <button class="botao-icone">
    <mat-icon (click)="fechar(false)">cancel</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="box-linha">
  <div class="box-coluna box-coluna-80">
    <mat-form-field appearance="outline">
      <mat-label>Nome do candidato</mat-label>
      <input (keyup)="jaExisteCandidatos()" [(ngModel)]="candidato.nome" [ngModelOptions]="{standalone: true}" matInput>
      <mat-icon *ngI="candidatoExistente" style="margin-right: 0.2rem;" matSuffix>error</mat-icon>
    </mat-form-field>
  </div>
  <div class="box-coluna box-coluna-10">
    <button (click)="adicionarCandidato()" [disabled]="!candidato.nome || candidatoExistente" class="botao-principal">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="box-linha">
  <div class="box-coluna titulo-secundario-modal">
    Candidos adicionados:
  </div>
  <div class="box-linha box-linha-candidatos">
    <div class="box-coluna box-coluna-45" *ngFor="let candidato of candidatos; let index = index;">
      <button (click)="removerCandidatos(index)" [disabled]="!candidato && candidatoExistente" class="botao-sencudario">
        {{candidato?.nome}}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="box-linha">
  <div class="box-botoes">
    <button (click)="fechar(false)" class="botao-sencudario">
      CANCELAR
    </button>
    <button (click)="fechar(true)" [disabled]="!candidatos.length" class="botao-principal">
      {{data.editar ? 'EDITAR' : 'ADICIONAR'}}
    </button>
  </div>
</div>