@import '../../../../../../../styles/colores.scss';
@import '../../../../../../../styles/styles.scss';

.box-linha-candidatos {
  max-height: 5rem;
  overflow: auto;
}

.box-linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;

  .box-coluna{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.25rem;
  }
  .box-coluna-45{
    width: 45% !important;
  }
  .box-coluna-80{
    width: 80% !important;
  }
  .box-coluna-10{
    width: 10% !important;
  }
  .box-botoes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}



:host ::ng-deep .mat-radio-button {
  margin-bottom: 0.25rem;
}


.titulo-secundario-modal {
  min-height: 2rem !important;
}
