<div class="filtro">
  <div class="box-filtro">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="status" (selectionChange)="buscarVotacoes()">
        <mat-option [value]="status.valor" *ngFor="let status of listaStatus">{{status.nome}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="box-filtro">
    <mat-form-field appearance="outline">
      <mat-label>Data de início</mat-label>
      <input readonly  [(ngModel)]="dataInicio" matInput [matDatepicker]="datepickerDataInicio">
      <mat-datepicker-toggle matIconSuffix [for]="datepickerDataInicio"></mat-datepicker-toggle>
      <mat-datepicker #datepickerDataInicio>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="box-filtro">
    <mat-form-field appearance="outline">
      <mat-label>Data fim</mat-label>
      <input readonly [(ngModel)]="dataFim" matInput [matDatepicker]="datepickerDataFim">
      <mat-datepicker-toggle matIconSuffix [for]="datepickerDataFim"></mat-datepicker-toggle>
      <mat-datepicker #datepickerDataFim>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="getRole()" class="box-filtro">
    <mat-slide-toggle [(ngModel)]="votacoesCriadasPorMe" >Votacões criadas por me</mat-slide-toggle>
  </div>
</div>

<div class="box-linha" >
  <div class="box-coluna" *ngFor="let votacao of votacoes;">
    <div class="titulo">
      {{votacao?.titulo}}
    </div>
    <mat-divider></mat-divider>
    <div class="informacoes">
      <span class="gasto"> Descrição:
        <span class="valor"> {{votacao?.descricao}}</span>
      </span>
      <span class="gasto"> Criado por:
        <span class="valor"> {{votacao?.criado }}</span>
      </span>
      <span class="gasto"> Inicio:
        <span class="valor"> {{votacao?.dataIniico | date: 'dd/MM/yyyy'}}</span>
      </span>
      <span class="gasto"> Fim:
        <span class="valor"> {{votacao?.dataFim| date: 'dd/MM/yyyy'}}</span>
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="botoes">
      <button *ngIf="!votacao?.votou || votacao?.multiVotos" (click)="verOuVotarcandidatos(votacao, true)" class="botao-principal">
        VOTAR
      </button>
      <button *ngIf="votacao?.votou && !votacao?.multiVotos"  (click)="verOuVotarcandidatos(votacao, false)" class="botao-sencudario">
        VER CANDIDATOS
      </button>
    </div>
  </div>
</div>

