<div class="box-linha titulo-principal-modal">
  {{data.editar ? 'EDITAR VOTAÇÃO' : 'ADICIONAR VOTAÇÃO'}}
  <button class="botao-icone">
    <mat-icon (click)="fechar(false)">cancel</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<form [formGroup]="data?.formVotacao">
  <div class="box-linha">
    <div class="box-coluna  box-coluna-45">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="data?.formVotacao?.value.nome" formControlName="nome" matInput>
      </mat-form-field>
    </div>
    <div class="box-coluna box-coluna-45">
      <mat-slide-toggle formControlName="multiVotos">Multiplos Votos</mat-slide-toggle>
    </div>
    <div class="box-coluna">
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input [(ngModel)]="data?.formVotacao?.value.descricao" formControlName="descricao" matInput>
      </mat-form-field>
    </div>
    <div class="box-coluna">
      <mat-form-field appearance="outline">
        <mat-label>Período</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input readonly matStartDate formControlName="dataInicio">
          <input readonly matEndDate formControlName="dataFim">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="box-coluna">
      <mat-form-field appearance="outline">
        <mat-label> Candidatos</mat-label>
        <mat-select formControlName="candidatos" multiple>
          <mat-option *ngFor="let candidato of candidatos" [value]="candidato.id">{{candidato.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
<mat-divider></mat-divider>
<div class="box-linha">
  <div class="box-botoes">
    <button (click)="fechar(false)" class="botao-sencudario">
      CANCELAR
    </button>
    <button (click)="fechar(true)" [disabled]="data.formVotacao.invalid || !candidatos.length" class="botao-principal">
      {{data.editar ? 'EDITAR' : 'ADICIONAR'}}
    </button>
  </div>
</div>